html {
  height: 100%;
}
body {
  height: 100%;
  background-attachment: fixed;
  background-image: url(pokeBG.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  font-family: sans-serif;
}

div.main{
  position: fixed;
  background-color: white;
  width: 70%;
  height: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
  z-index: -1; 
}

div.block{
  height: 15px;
}

.nav {
  background-color: white;
  position: fixed;
  width: 69%;
  /*border-style: solid;*/
  border-color: black;
  margin-top: -15px;
  padding: 5px;
  margin-left: 50%;
  transform: translateX(-50%);
  border-bottom: solid 1px;
}

.nav table {
  margin-left: auto;
  margin-right: auto;
  width: inherit;
  text-align: center;
  font-size: 0.8em;
  text-transform: uppercase;
}

.nav th {
  width: 25%;
  border-right: solid black;
  border-right-width: 1px;
}
.nav th:last-child {
  border-right: none;
}

h1 {
  padding-top: 5px;
  margin-top: 10px;
  
}

h2{
    display: block;
    font-size: 2.0em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-decoration: underline;
}

h3 {
    text-decoration: underline;
}

p {
  margin: 10px;
}

.image_source {
  font-size: 0.5em;
}

#home_sub {
  font-size: 1.5em;
}

.p_head {
  text-align: left;
  width: 65%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

#pokemain {
  margin-left: 3%;
  width: 68%;
}

#ABM {
  margin-left: 3%;
  width: 68%;
}

.trainer {
  width: 30%;
}

#gen {
  margin-left: 3%;
  width: 68%;
}

table.body {
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 1px;
}

table.body td {
  border-style: solid;
  border-width: 1px;
  border-collapse: collapse;
}
table.body th {
  border-style: solid;
  border-width: 1px;
  border-collapse: collapse;
}

form {
  margin-bottom: 10px;
}


@media screen and (max-width: 450px) {

  h1 {
    font-size: 1.25em;
  }
}

a:visited {
    color: red;
}